@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:wght@400;700&family=Raleway:wght@100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-pink: #d12f7a;
    --color-black: #000000;
    --color-blue: #190eaa;
    --color-red: #e01010;
    --color-purple: #7d04a1;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Raleway', sans-serif;
}

#person {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--color-black);
}

.person-name {
    margin-top: 11rem;
}

.person-content {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
}

.person-content div h1 {
    padding: 0px 4px;
    font-size: 4.5rem;
    line-height: 6rem;
    color: transparent;
    animation: written_text .5s ease forwards;
    position: relative;

    width: fit-content;

}

.person-content div h1:nth-child(1) {
    animation-delay: 1s;
}

.person-content div h1:nth-child(2) {
    animation-delay: 2s;
}

.person-content div h1:nth-child(3) {
    animation: written_text_name .5s ease forwards;
    animation-delay: 2.5s;
}

.person-content div h1:nth-child(4) {
    animation-delay: 3.5s;
}

.person-content div h1 span {
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: written_text_box 1s ease;
    background: var(--color-purple);
    animation-delay: .5s;

}

.person-content div h1:nth-child(1) span {
    animation-delay: .5s;
}

.person-content div h1:nth-child(2) span {
    animation-delay: 1.5s;
}

.person-content div h1:nth-child(3) span {
    animation-delay: 2s;
}

.person-content div h1:nth-child(4) span {
    animation-delay: 3s;
}


.stacks-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;
    animation: fadeIn 20s ease forwards;
    opacity: 0;
}

.stacks-content h3 {
    color: var(--color-white);
    font-size: 1.5rem;
    margin-left: 20px;
}


.stacks img {
    width: 30px;
    height: 30px;
}

.stacks {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stacks ul li {
    display: flex;
    align-items: center;
    position: relative;

    margin: 10px;
    padding: 10px;
    list-style: none;
}

.stacks ul li img {
    width: 30px;
    height: auto;
    transition: transform .3s ease;
}

.stacks ul li div img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.stacks ul li div:hover::after {
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;

    width: 25px;
    height: 25px;

    color: var(--color-white);
}

.wrapper-profile-photo img{
width: 350px;
display: flex;
justify-content: center;
align-items: center;

padding: 14px;
margin: 20px 15px;
background: radial-gradient(rgba(0,0,0,0.15)60%,transparent 0),
radial-gradient(#000000 68%,transparent 0 ),
linear-gradient(to top right,#ffa500 0%,#ff1493 100%);
}

.profile-photo{
width: 100%;
border-radius: 50%;
}

.person-background {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-image: url(./img/photo-1509718443690-d8e2fb3474b7.avif);
    background-size: cover;
    background-position: top center;
    z-index: 1;
}

.person-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: .7;
    z-index: -1;


    background: linear-gradient(90deg, transparent 30%, var(--color-black)),
        linear-gradient(180deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 65%, var(--color-black));
}

.links a img {
    width: 30px;
    height: 30px;

    margin: 10px;
    filter: brightness(.8);

}

.links a img:hover{
transform: scale(1.2);
filter: brightness(1);
transition: .3s ease;
}

#about{
height: 100vh;
width: 100%;
background: var(--color-black);

display: flex;
color: var(--color-white);
}

.backgroud-about{
width: 50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.img-wrapper {
height: 100%;
width: 78%;

position: relative;
}
.img-wrapper img{
height: 100%;
width: 100%;
object-fit: cover;
}

.img-wrapper::after{
content: "";
position: absolute;
top: 0;
left: 0;

height: 100%;
width: 100%;

background: linear-gradient(.25turn,transparent 30%,var(--color-black)),
linear-gradient(.5turn,transparent 30%,var(--color-black)),
 linear-gradient(1turn,transparent 65%,var(--color-black));

}

.box-about{
display: flex;
justify-content: center;
flex-direction: column;
width: 50%;
padding: 3rem;

}

.box-about h3{
margin: 3rem;
font-size: 3rem;

}

.box-about h4{
margin: 1rem 3rem;
font-size: 1.7rem;
}

.section-subtittle h2 p{
display: inline-block;
font-size: 3rem;
}

.section-subtittle h2 p:nth-child(2) span {
padding: 3px 5px;
border-radius: 4px;

color: var(--color-black);
background-color: var(--color-purple);
}

.box-about h4 p{
display: inline;
padding: 2px 4px;
color: var(--color-purple);
font-size: 1.7rem;
font-weight: 1.7rem;
}

.button-cta{
display: flex;  
max-width: 190px;
margin: 4rem 3rem;

}

.button-cta button{
display: inline-block;
width: 100%;
max-width: 172px;
padding: 10px;
margin-bottom: 3rem;
font-size: 2rem;
font-family: 'Poppins',sans-serif;
font-weight: 700;
letter-spacing: .15rem;
border-radius: 10px;
cursor: pointer;
color: var(--color-black);
background-color: #7d04a1;

}

.button-cta button:hover{
transition: all .3s ease;
filter: brightness(.8);
}

@keyframes written_text {
    100% {
        color: var(--color-white);

    }

}

@keyframes written_text_name {
    100% {
        color: var(--color-purple);
    }

}

@keyframes written_text_box {
    50% {
        width: 100%;
        left: 0;

    }

    100% {
        width: 0;
        left: 100%;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}